<div class="container-fluid">
  <div class="d-flex flex-column h-100">
    <div class="row header">
      <div class="col-md-12">
        <h2 class="py-3">Welcome to the Finite Element Analysis calculator of membrane elements </h2>
        <h4>
            The calculator provides membrane stresses of plain elements.
        </h4>
      </div>
    </div>

    <div class="row content">
        <div class="col-md-6">
            <app-creator #creatorRef></app-creator>
        </div>
        <div class="col-md-6">
            <app-result></app-result>
        </div>
    </div>
  </div>
</div>
